In [1]:
# Question 1:-
'''Create one variable containing following type of data:
(i)	  string
(ii)  list
(iii) float
(iv)  tuple'''

# Answer:

string_variable = "Hello, Anuj"
list_variable = [1, 2, 3, 4, 5]
float_variable = 89.3
tuple_variable = (10, 20, 30)

In [3]:
# Question 2:-
'''Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)	var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)	var4 = 1.
What will be the data type of the above given variable.'''

# Answer:

(i) var1 = ‘ ‘
The value assigned to var1 is a string containing a single space character.
Data Type: String

(ii) var2 = ‘[ DS , ML , Python]’
The value assigned to var2 is a string containing the characters '[ DS , ML , Python]'.
Data Type: String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
The value assigned to var3 is a list containing three string elements: 'DS', 'ML', and 'Python'.
Data Type: List

(iv) var4 = 1.
The value assigned to var4 is a floating-point number.
Data Type: Float

So, the data types of the given variables are:
(i) var1: String
(ii) var2: String
(iii) var3: List
(iv) var4: Float

"(i) var1 = ‘ ‘\nThe value assigned to var1 is a string containing a single space character.\nData Type: String\n\n(ii) var2 = ‘[ DS , ML , Python]’\nThe value assigned to var2 is a string containing the characters '[ DS , ML , Python]'.\nData Type: String\n\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\nThe value assigned to var3 is a list containing three string elements: 'DS', 'ML', and 'Python'.\nData Type: List\n\n(iv) var4 = 1.\nThe value assigned to var4 is a floating-point number.\nData Type: Float\n\nSo, the data types of the given variables are:\n(i) var1: String\n(ii) var2: String\n(iii) var3: List\n(iv) var4: Float"

In [4]:
# Question 2:-
'''Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **   '''

# Answer:

"""(i) / (Division Operator):
The division operator is used to perform division between two numbers."""
# Example:

a = 10
b = 2
result = a / b
print(result)

5.0

In [10]:
"""(ii) % (Modulus Operator):
The modulus operator is used to find the remainder of the division between two numbers."""
#Example:

a = 10
b = 3
result = a % b
print(result)

1

In [11]:
'''(iii) // (Floor Division Operator):
The floor division operator is used to perform division and round the result down to the nearest integer. '''
#Example:

a = 10
b = 3
result = a // b
print(result)

3

In [12]:
'''(iv) ** (Exponentiation Operator):
The exponentiation operator is used to raise a number to a certain power.'''
# Example:

base = 2
exponent = 3
result = base ** exponent
print(result)

8

In [13]:
# question 4:-
'''Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

# Answer:

# Create a list with 10 elements of different data types
my_list = [10, "Hello", 3.14, True, [1, 2, 3], (1, 2), {"name": "John", "age": 30}, None, "Python", False]

# Using a for loop to print each element and its data type
for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: (1, 2), Data Type: <class 'tuple'>
Element: {'name': 'John', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: Python, Data Type: <class 'str'>
Element: False, Data Type: <class 'bool'>

In [14]:
# question 5:-
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. '''

# Answer:

def find_divisions(a, b):
    count = 0
    while a >= b and a % b == 0:
        a = a // b
        count += 1
    return count

# Test example
number_a = 100
number_b = 5

result = find_divisions(number_a, number_b)
print(f"{number_a} is purely divisible by {number_b} and can be divided {result} times.")

100 is purely divisible by 5 and can be divided 2 times.

In [15]:
# Question 6:-
"""Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. """

# Answer:

# Create a list containing 25 integer type data
my_list = [2, 15, 7, 9, 36, 10, 27, 14, 21, 4, 18, 30, 22, 13, 6, 12, 25, 17, 11, 33, 20, 8, 16, 3, 19]

# Using for loop and if-else condition to check divisibility by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

2 is not divisible by 3.
15 is divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
36 is divisible by 3.
10 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
4 is not divisible by 3.
18 is divisible by 3.
30 is divisible by 3.
22 is not divisible by 3.
13 is not divisible by 3.
6 is divisible by 3.
12 is divisible by 3.
25 is not divisible by 3.
17 is not divisible by 3.
11 is not divisible by 3.
33 is divisible by 3.
20 is not divisible by 3.
8 is not divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
19 is not divisible by 3.

In [17]:
# Question 7:-
'''What do you understand about mutable and immutable data types? Give examples for both showing
this property. '''

# Answer:

# Lists are mutable
my_list = [1, 2, 3]
print(my_list)

# Modifying the list
my_list[0] = 10
print(my_list)

[1, 2, 3]
[10, 2, 3]

In [18]:
# Strings are immutable
my_string = "Anuj"
print(my_string)
# Trying to modify the string (Error: strings are immutable)
my_string[0] = "h"  # TypeError: 'str' object does not support item assignment

Anuj

TypeError: 'str' object does not support item assignment